@import url(//fonts.googleapis.com/css?family=Open+Sans);

html, body {
    height:100%;
    margin:0;
}

body {
    background-color: #f5f5f5;
    color: #000000;
}

body, textarea, input, select, td, th {
    font-family: 'Open Sans',helvetica,arial,verdana,sans-serif;
}


/**************************************************************************/
/** Colors
/**************************************************************************/

:root {
    --header-color: #637a87;
    --nav-color: #465761;

    --green-background: #238f23;
    --green-font: #edffed;

    --green-background-hover: #008000;
    --green-font-hover: #fff;

    --big-button-size: 60px;
}


/**************************************************************************/
/** App Header
/**************************************************************************/

.app-header {
    height: 86px;
    color: #fff;
}

.app-header,
.app-header-menu {
    background-color: #007cba;
    background-color: #4493c1;
    background-color: #64b5e3;
    background-color: #95adbb;
    background-color: #637a87;
}

.app-header-icon {
    background: url(../images/prospekt.svg) no-repeat;
    background-size: 300px 58px;
    background-position-y: 13px;
    width: 400px;
    height: 80px;
    margin: 0 0 0 14px;
}

.app-header-profile,
.app-header-menu {
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin: 3px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.app-header-profile {
    background-color: #EE9549;
    text-transform: uppercase;
}

 .app-header-profile:hover {
    background-color: #ffb576;
    transition: 0.4s;
 }

.app-header-menu {
    margin-left: 0;
 }

 .app-header-menu .fas {
    margin-top: 7px;
}

 .app-header-menu:hover {
     background-color: #3baaff;
     transition: 0.4s;
 }

 .app-menu {
    padding: 3px 2px;
    min-width: 180px;
}

.app-menu-item:hover {
    background-color: #bee3ff;
}

.app-menu-item {
    line-height: 39px;
    font-size: 14px;
    padding: 0 7px 0 0;
    white-space: nowrap;
}

.app-menu-item .fas {
    color:#3876ad;
    text-align:center;
    width: 35px;
    font-size: 20px;
    vertical-align: middle;
}




.app-nav-bar {
    background-color: #465761;
    height: 36px;
    line-height: 36px;
}

.app-tab-container {
    float: right;
    height: 100%;
    padding: 0 20px;
}

.app-tab-container > div {
    float: left;
    min-width: 125px;
    color: white;
    text-align: center;
    height: 100%;
    cursor: pointer;
}

.app-tab-container > div:hover {
    background-color: #2f414a;
}

.app-tab-container > div.active,
.app-tab-container > div.active:hover {
    background-color: #29343a;
}


.app-nav-bar .count {
    position:absolute;
    top: 2px;
    right: 14px;
    border-radius: 50%;
    background-color: #bb0000;
    line-height: 15px;
    min-width: 11px;
    text-align: center;
    border: 1px solid #8f7474;
    font-size: 10px;
    padding: 0 3px;
}





/* override the default style for the javaxt callout
   prevents overflow issues in the app header
*/
.callout-arrow {
    padding: 10px;
}


/**************************************************************************/
/** Communications Error Popup
/**************************************************************************/

.communication-error {
    width: 450px;
    min-height: 64px;
    background-color: #ffeef1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
}

.communication-error .icon,
.communication-error .title {
    height: 24px;
    font-size: 20px;
    display: inline-block;
    float:left;
}

.communication-error .icon {
    width: 40px;
    position: relative;
}

.communication-error .icon:before,
.communication-error .icon:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    color: #9d172e;
}


.communication-error .icon:before{
    content: "\f12a"; /* exclaimation */
    left: 11px;
}

.communication-error .icon:after{
    content: "\f1eb"; /* wifi */
    opacity: 0.2;
    font-size: 24px;
}

.communication-error .message {
    font-size: 11px;
    display: inline-block;
    color: #777;
    margin-top: 8px;
}


/**************************************************************************/
/** Form Error Popup
/**************************************************************************/
/** The following classes are used to define the style for pop-up callouts
 *  generated using the javaxt.dhtml.Callout class.
 */

.error-callout-panel, .error-callout-arrow {
    border: 1px solid #8c0000;
    background: #921d1d;
    color: #fff;
    cursor: pointer;
}

.error-callout-panel {
    border-radius: 3px;
    padding: 5px !important;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
}

.error-callout-arrow {
    width: 7px;
    height: 7px;
    padding: 12px;
}

.form-input-error {
    background: #fff2f2;
    border-color: #d66262;
}



/**************************************************************************/
/** Search Bar
/**************************************************************************/

.search-bar {
    height: 37px;
    padding: 5px 0 0 0;
}

.search-bar-icon {
    position: absolute;
    top: 14px;
    left: 6px;
    color: #b9b9b9;
    font-size: 16px;
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.search-bar-cancel {
    top: 12px;
    right: 6px;
    position: absolute;
    font-size: 16px;
    color: #b11818; /*red - same color as fa-times in the toolbar*/
    width: 18px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}

.search-bar-input {
    border-radius: 4px;
    color: #363636;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 2px 4px 2px 26px;
    vertical-align: middle;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-sizing: border-box;
}

.search-bar-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}


.search-bar-input::placeholder {
    color: #b9b9b9;
    font-size: 14px;
}



/**************************************************************************/
/** Carousel Header
/**************************************************************************/

.carousel-header {
    height: 60px;
    background-color: #3f79ab;
    background-color: #102b42;
}

.carousel-header-nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.carousel-header-link {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 20px;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.carousel-header-link:after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #2e588d;
  transition: width .15s ease;
  -webkit-transition: width .15s ease;
}


.carousel-header-link:hover, .carousel-header-link:active, .carousel-header-link:focus, .carousel-header-link-selected{
    opacity: 1.0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    outline: 0 none;
}


.carousel-header-link-selected:after{
    width: 100%;
}


.carousel-header-link:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
  opacity: 0.6;
}


.carousel-header-link-count {
    position:absolute;
    font-size:9px;
    top: -3px;
    right: -14px;
    background-color: #df4444;
    border-radius: 6px;
    padding: 0px 4px;
    color: #fff;
}



/**************************************************************************/
/** Awards Panel
/**************************************************************************/

.awards-panel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    max-width: 1440px;

    border: 1px solid #ccc;
    border-top: 0 none;
    border-bottom: 0 none;
    background-color: #fff;
}



/**************************************************************************/
/** Admin Panel
/**************************************************************************/

.admin-panel {
    width: 100%;
    height: 100%;
}

.admin-sidebar {
    width: 65px;
    background-color: #777f85;
}

.admin-sidebar .fas {
    color: #fff;
    height: 65px;
    width: 65px;
    text-align: center;
    font-size: 30px;
    line-height: 65px;
    cursor: pointer;
    opacity: 0.85;
}

.admin-sidebar .fas:hover{
    background-color: #9aa8b1;
}

.admin-sidebar .selected {
    background-color: #9aa8b1
}

.admin-landing-page {
    text-align: center;
    font-size: 200px;
    color: #e6e6e6;
}

.admin-header {
    font-size: 24px;
    line-height: 53px;
    color: #007CBA;
    height: 55px;
    padding: 10px;
    cursor: pointer;
}

.admin-subheader {
    font-size: 14px;
    line-height: 14px;
    margin-top: -10px;
}

.admin-header .fas {
    display: inline-block;
    font-size: 35px;
    padding: 10px;
    color: #f5f5f5;
    background-color: #0474ab;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 10px;
}

.admin-config-table {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.admin-config-row {
    background-color: #fff;
    height: 36px;
    border-bottom: 1px solid #dcdcdc;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
}

.admin-config-row:last-child {
    border: 0 none;
}

.admin-config-row .far {
    font-size:18px;
    padding:0 7px;
    color:#0474ab;
}

.admin-config-row-next:hover::after {
    content: "";
    position: absolute;
    border-right: 2px solid #0474ab;
    border-bottom: 2px solid #0474ab;
    width: 14px;
    height: 14px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 10px 15px 0px 0px;
    right: 0;
    top: 0;
    transition:0.4s;
}



/**************************************************************************/
/** Company Panel
/**************************************************************************/

.company-panel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    max-width: 1440px;

    border: 1px solid #ccc;
    border-top: 0 none;
    border-bottom: 0 none;
    background-color: #fff;
}

.company-panel h2 {
    font-weight: normal;
}


.company-panel .toolbar {
    height: 55px;
    border-bottom: 1px solid #ccc;
    background-color: #e9ebec;
}

.company-panel .toolbar > div { /*centers pulldowns and searchbar*/
    margin-top: 9px !important;
}


.company-panel .toolbar .pulldown {
    float: left;
    position: relative;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;

    text-align: center;
    text-transform: none;

    font-weight: 700;
    font-size: 14px;


    padding: 0 12px;
    margin: 0 8px;

    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.09);
    color: #595959;

    cursor: pointer;
}

.company-panel .toolbar .pulldown:hover{
    border-color: #a7a6ab;
    box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.company-panel .toolbar .pulldown.active,
.company-panel .toolbar .pulldown.filter {
    border-color: #006aff;
    background-color: aliceblue;
}


.company-panel .toolbar .pulldown:after {
    font-family: "Font Awesome 5 Free";
    content: "\f078"; /* fas fa-chevron-down */
    display: inline-block; /* important if you want to apply transition */
    padding: 0 7px 0 7px;
    /*transition: 0.5s;*/
}

.company-panel .toolbar .pulldown.active:after {
    transform: rotate(180deg); /* vs "fas fa-chevron-down" (content: "\f077";) */
    /*transition: 0s;*/
}


.company-panel .toolbar .menu {
    position: absolute;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #a7a6ab;
    border-radius: 8px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
}

.company-panel .toolbar .menu .close-button{
    position: absolute;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    z-index: 1;
}


.company-panel .toolbar .menu .close-button:after{
    font-family: "Font Awesome 5 Free";
    content: "\f00d"; /* fas fa-times */
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
}

.company-panel .toolbar .menu .close-button:hover{
    color: #b11818; /*red */
}

/****************************************************************/

.company-panel .toolbar .menu .button {
    background-color: #006aff;
    line-height: 44px;
    height: 44px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 28px;
    width: 100%;
    border: 0 none;
}

.company-panel .toolbar .menu .button:hover{
    background-color: #0d4599
}

.company-panel .toolbar .menu .button-group div {
    width: 100%;
}

.company-panel .toolbar .menu .button-group .button {
    background-color: #f6f6fa;
    border: 1px solid #777;
    color: #777;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
}

.company-panel .toolbar .menu .button-group .button.button-selected {
    background-color: #f2faff;
    border: 1px solid #006aff;
}



.company-panel .toolbar .menu .button-group td:first-child .button {
    border-radius: 5px 0 0 5px !important;
}

.company-panel .toolbar .menu .button-group td:last-child .button {
    border-radius: 0 5px 5px 0 !important;
}





/****************************************************************/
.company-panel .toolbar .menu .form-input-button,
.company-panel .toolbar .menu .form-input.form-input-with-button {
    height: 44px;
    line-height: 44px;
    background-color: #f6f6fa;
    border-color: #d1d1d5;
}

.company-panel .toolbar .menu .form-input.form-input-with-button:focus{
    box-shadow: none;
}

.company-panel .toolbar .menu .form-input-button {
    box-shadow: none;
    border-left:  0 none;
    background-position: 5px 13px;
}

.company-panel .toolbar .menu .form-input-menu {
    text-align: left;
}

/****************************************************************/


.company-panel .toolbar .menu .tab-bar {
    background-color: #fff;
    font-weight: normal;
    border: 0 none;
    height: 36px;
}

.company-panel .toolbar .menu .tab-bar li {
    line-height: 36px;
    color: #000;
}

.company-panel .toolbar .menu .tab-inactive {
    background-color: #f0f0f0;
    border-width: 0 1px;
}

.company-panel .toolbar .menu .tab-active {
    background-color: #eff7fe;
    border-top: 2px solid #69b9ff;
    margin-top: -2px;
    border-left: 1px solid #b7d5ff;
    border-right: 1px solid #b7d5ff;
    border-radius: 4px 4px 0 0;

}

.company-panel .toolbar .menu .tab-body {
    border-radius: 0 0 8px; /* doesn't work... */
    font-weight: normal;
}

/****************************************************************/

.company-panel .toolbar .search-bar {
    height: 38px;
    margin: 0 10px;
    padding: 0px;
}

.company-panel .toolbar .search-bar-input {
    height: 38px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.16) inset, 1px 1px 6px 0px rgba(0, 0, 0, 0.08) inset;
    border-top: 1px solid #959595;
    border-left: 1px solid #959595;
}

.company-panel .toolbar .search-bar-icon,
.company-panel .toolbar .search-bar-cancel{
    top: 8px
}

.company-panel .toolbar .search-bar-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    transition: box-shadow 1.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}






/****************************************************************/

.company-panel .table-col {
    height: 165px;
}

.company-panel .table-row{
    background-color: #fff;
}

.company-panel .table-row:hover{
    background-color:#f6fbff;
}

.company-panel .table-row-selected{
    background-color:#f0f8ff;
}

.company-panel .table-row-selected:hover{
    background-color:#e5f3ff;
}

.company-panel .table-col .company-name {
    font-size: 18px;
    font-weight: 700;
    color: #1e1e1e;
    color: #595959;
}

.company-panel .table-col .company-info {
    line-height: 20px;
    color: #777;
}


/**************************************************************************/
/** Small table
/**************************************************************************/

.small .table-col {
    height: 21px;
    line-height: 21px;
    font-size: 12px;
}

.table-row.inactive .table-col {
    color: #ccc7b9;
}

/**************************************************************************/
/** Company
/**************************************************************************/

.company-name {
    font-size: 36px;
}

.company-overview  td {
    padding: 2px 8px;
    color:#777;
}


.company-overview  td:first-child {
    font-weight:normal;
    color:#000;
}


/**************************************************************************/
/** Popover panel
/**************************************************************************/
/** Used to slide a div over another div in the company panel
*/
.popover-panel {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 1440px; /* should match the max-width of the company-panel */
    z-index: 10;
    top: 0;
    background-color: #fff;
}

.company-panel > div {
    transition: opacity 0.8s, left 0.4s;
}

/**************************************************************************/
/** Charts
/**************************************************************************/

.chart-title {
    padding: 0 0 15px;
}

.chart-title .emphasis {
    font-size: 24px;
}

.change {
    border-radius: 5px;
    border:1px solid;
    font-size:11px;
    padding:2px 5px;
}

.change.positive {
    border-color: #137333;
    background-color: #e6f4ea;
    color: #137333;
}


.change.negative {
    border-color: #bb2f2f;
    background-color: #fce8e6;
    color: #a50e0e;
}

.change.positive:before,
.change.negative:before {
    font-family: "Font Awesome 5 Free";
    vertical-align: middle;
    font-weight: 900;
    font-size: 12px;
    padding: 0 3px 0 0;
}


.change.negative:before {
    content: "\f063"; /*fas fa-arrow-down */
}

.change.positive:before {
    content: "\f062"; /*fas fa-arrow-up */
}


.chart-title .footer {
    color: #777;
}


.chart-area .axis {
    color:#a9a9a9
}

.chart-area .label {
    font-family: 'Segoe UI Variable Small'; /* for windows */
    font-size: 10px;
    color: #555;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.chart-area .grid {
    stroke-width: 0.2;
    color:#a9a9a9;
}


.treemap .label {
    font-size: 12px;
}

.treemap .group.label {
    font-size: 14px;
}

.treemap .value.label {
    font-size: 10px;
}




.chart-disclaimer {
    color: #777;
    font-size: 11px;
    font-style: italic;
    padding: 15px 8px 0 60px;
}



.chart-data-table  td {
    padding: 2px 8px;
    color:#777;
    font-size: 12px;
}


.chart-data-table  td:first-child {
    font-weight:normal;
    color:#000;
}


/**************************************************************************/
/** NAICS Picker
/**************************************************************************/

.naics-picker .body {
    border: 1px solid #dcdcdc;
    height: 100%;
    position: relative;
    overflow: hidden auto;
}

.naics-picker .header {
    text-align: center;
    height: 30px;
}


.naics-picker .item {
    cursor: pointer;
    padding: 0 0 0 7px;
    text-align: left;
    white-space: nowrap;
    font-size: 12px;
    color: #4a4a4a;
    height: 20px;
    line-height: 20px;
}

.naics-picker .item:hover {
    background-color: aliceblue;
}

.naics-picker .item.selected {
    background-color: #d5ebff;
}



/**************************************************************************/
/** NAICS Filter
/**************************************************************************/

.naics-filter {
    width: 800px;
    height: 400px;
    position: relative;
}

.naics-filter .form-input {
    border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-right: 0 none;

    font-size: 12px;
    color: #4a4a4a;
}


.naics-filter .form-input:disabled {
    background-color:#f8f8f8;
}

.naics-filter .form-button {
    border: 1px solid  var(--green-background);
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    box-shadow: none;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;

    background-color: var(--green-background);
    color: #fff;
    text-shadow: none;
    font-size: 18px;
}


.naics-filter .form-button:hover, .naics-filter .form-button:focus {
    background-color: var(--green-background-hover);
    box-shadow: none;
}


.naics-filter .form-button:disabled {
    background-color: #8fa98f;
    border: 1px solid #8fa98f;
}




.naics-filter .message-box {
    position: absolute;
    display: inline-block;
    background-color: #e6ffc6;
    color: green;
    font-weight: normal;
    padding: 0 25px;
    top: -6px;
    left: 290px;
    border-radius: 6px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #96d496;
    z-index: 1;

    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, transform 0.8s;
    transition: opacity 0.8s, transform 0.8s, -webkit-transform 0.8s;
}


.naics-filter .message-box.initial {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
}

.naics-filter .message-box.hidden {
    opacity: 0;
    /*
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    */
}

.naics-filter .message-box.visible {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.naics-filter .message-box:before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 700;
    padding-right: 10px
}


.naics-filter .button {
    float: right;
    width: 190px !important;
    margin-top: 10px !important;
    margin: 10px 12px 10px 0;
}


/**************************************************************************/
/** Chiclet
/**************************************************************************/

.chiclet {
    display: inline-block;
    float: left;
    position: relative;
    padding: 0 30px 0 10px;
    white-space: nowrap;
    font-size: 12px;
    color: #4a4a4a;
    margin: 10px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 25px;
    line-height: 25px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.chiclet:hover{
    background-color: #eff7fe;
    border: 1px solid #b7d5ff;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
}

.chiclet > div {
    max-width: 350px;
    overflow: hidden;
}

.chiclet .close {
    top: 1px;
    right: 6px;
    position: absolute;
    font-size: 16px;
    color: #777;
    width: 18px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}

.chiclet .close:after {
    font-family: "Font Awesome 5 Free";
    content: "\f00d"; /* fas fa-times */
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
}



.chiclet:hover > div.close,
.chiclet .close:hover {
    color: #b11818; /*red */
}


/**************************************************************************/
/** Tooltip
/**************************************************************************/
/** This class is used by bluewave-charts
*/
.tooltip {
    position: absolute;
    background-color: #fff;
    padding: 5px 7px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    color: #636363;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
}





/**************************************************************************/
/** iScroll overrides
/**************************************************************************/

.iScrollVerticalScrollbar{
    right: 2px;
}
