@import url(//fonts.googleapis.com/css?family=Open+Sans);

html, body {
    height:100%;
    margin:0;
}

body {
    background-color: #f5f5f5;
    color: #000000;
}

body, textarea, input, select, td, th {
    font-family: 'Open Sans',helvetica,arial,verdana,sans-serif;
    font-size: 14px;
}


/**************************************************************************/
/** Colors
/**************************************************************************/

:root {
    --header-color: #637a87;
    --nav-color: #465761;

    --green-background: #238f23;
    --green-font: #edffed;

    --green-background-hover: #008000;
    --green-font-hover: #fff;

    --big-button-size: 60px;
}

.fab.fa-linkedin {
    color: #0a66c2;
}

.fab.fa-facebook-square {
    color: #38529a;
}

.fab.fa-twitter {
    color: #1c96e8;
}



/**************************************************************************/
/** App Header
/**************************************************************************/

.app-header {
    height: 86px;
    color: #fff;
}

.app-header,
.app-header-menu {
    background-color: #007cba;
    background-color: #4493c1;
    background-color: #64b5e3;
    background-color: #95adbb;
    background-color: #637a87;
}

.app-header-icon {
    background: url(../images/prospekt.svg) no-repeat;
    background-size: 300px 58px;
    background-position-y: 13px;
    width: 400px;
    height: 80px;
    margin: 0 0 0 14px;
}

/**************************************************************************/

.app-header-profile,
.app-header-menu {
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin: 3px;
    border-radius: 14px; /* don't use 50% */
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.app-header-profile {
    background-color: #EE9549;
    text-transform: uppercase;
}

 .app-header-profile:hover {
    background-color: #ffb576;
    transition: 0.4s;
 }

.app-header-menu {
    margin-left: 0;
    position: relative;
    overflow: hidden;
    transition: all 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-property: padding, background, margin;
 }

.app-header-menu:hover {
     background-color: #3baaff;
 }

.app-header-menu .label {
    font-size: 13px;
    color: #e7e7e7;
    position: absolute;
    left: 13px;
    white-space: nowrap;
    transition: opacity 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.app-header-menu .icon {
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 12px; /* don't use left */
    top: 12px;
}

.app-header-menu .icon:before,
.app-header-menu .icon:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: inherit;
    border-radius: inherit;
}

.app-header-menu .icon:before {
    top: -7px;
}

.app-header-menu .icon:after {
    top: 7px;
}

.app-header-menu.warning {
    background-color: #a14354; /*red*/
    background-color: #812e4a; /*purple*/
    background-color: #9b1f19;
    padding-left: 120px;
    margin-left: 3px;
}

.app-header-menu.warning:hover {
    background-color: #dd8d9b; /*pink*/
    background-color: #a14354; /*red*/
    transition: 0.2s;
}


/**************************************************************************/


 .app-menu {
    padding: 3px 2px;
    min-width: 180px;
}

.app-menu-item:hover {
    background-color: #bee3ff;
}

.app-menu-item {
    line-height: 39px;
    font-size: 14px;
    padding: 0 7px 0 0;
    white-space: nowrap;
}

.app-menu-item .fas {
    color:#3876ad;
    text-align:center;
    width: 35px;
    font-size: 20px;
    vertical-align: middle;
}








.app-nav-bar {
    background-color: #465761;
    height: 36px;
    line-height: 36px;
}

.app-tab-container {
    float: right;
    height: 100%;
    padding: 0 20px;
}

.app-tab-container > div {
    float: left;
    min-width: 125px;
    color: white;
    text-align: center;
    height: 100%;
    cursor: pointer;
}

.app-tab-container > div:hover {
    background-color: #2f414a;
}

.app-tab-container > div.active,
.app-tab-container > div.active:hover {
    background-color: #29343a;
}


.app-nav-bar .count {
    position:absolute;
    top: 2px;
    right: 14px;
    border-radius: 50%;
    background-color: #bb0000;
    line-height: 15px;
    min-width: 11px;
    text-align: center;
    border: 1px solid #8f7474;
    font-size: 10px;
    padding: 0 3px;
}





/* override the default style for the javaxt callout
   prevents overflow issues in the app header
*/
.callout-arrow {
    padding: 10px;
}





/**************************************************************************/
/** Form Error Popup
/**************************************************************************/
/** The following classes are used to define the style for pop-up callouts
 *  generated using the javaxt.dhtml.Callout class.
 */

.error-callout-panel, .error-callout-arrow {
    border: 1px solid #8c0000;
    background: #921d1d;
    color: #fff;
    cursor: pointer;
}

.error-callout-panel {
    border-radius: 3px;
    padding: 5px !important;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
}

.error-callout-arrow {
    width: 7px;
    height: 7px;
    padding: 12px;
}

.form-input-error {
    background: #fff2f2;
    border-color: #d66262;
}



/**************************************************************************/
/** Search Bar
/**************************************************************************/

.search-bar {
    height: 37px;
    padding: 5px 0 0 0;
}

.search-bar-icon {
    position: absolute;
    top: 14px;
    left: 6px;
    color: #b9b9b9;
    font-size: 16px;
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.search-bar-cancel {
    top: 12px;
    right: 6px;
    position: absolute;
    font-size: 16px;
    color: #b11818; /*red - same color as fa-times in the toolbar*/
    width: 18px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}

.search-bar-input {
    border-radius: 4px;
    color: #363636;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 2px 4px 2px 26px;
    vertical-align: middle;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-sizing: border-box;
}

.search-bar-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}


.search-bar-input::placeholder {
    color: #b9b9b9;
    font-size: 14px;
}



/**************************************************************************/
/** Carousel Header
/**************************************************************************/

.carousel-header {
    height: 60px;
    background-color: #3f79ab;
    background-color: #102b42;
}

.carousel-header-nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.carousel-header-link {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 20px;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.carousel-header-link:after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #2e588d;
  transition: width .15s ease;
  -webkit-transition: width .15s ease;
}


.carousel-header-link:hover, .carousel-header-link:active, .carousel-header-link:focus, .carousel-header-link-selected{
    opacity: 1.0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    outline: 0 none;
}


.carousel-header-link-selected:after{
    width: 100%;
}


.carousel-header-link:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
  opacity: 0.6;
}


.carousel-header-link-count {
    position:absolute;
    font-size:9px;
    top: -3px;
    right: -14px;
    background-color: #df4444;
    border-radius: 6px;
    padding: 0px 4px;
    color: #fff;
}



/**************************************************************************/
/** Awards Panel
/**************************************************************************/

.awards-panel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    max-width: 1440px;

    border: 1px solid #ccc;
    border-top: 0 none;
    border-bottom: 0 none;
    background-color: #fff;
}



/**************************************************************************/
/** Admin Panel
/**************************************************************************/

.admin-panel {
    width: 100%;
    height: 100%;
}

.admin-sidebar {
    width: 65px;
    background-color: #777f85;
}

.admin-sidebar .fas {
    color: #fff;
    height: 65px;
    width: 65px;
    text-align: center;
    font-size: 30px;
    line-height: 65px;
    cursor: pointer;
    opacity: 0.85;
}

.admin-sidebar .fas:hover{
    background-color: #9aa8b1;
}

.admin-sidebar .selected {
    background-color: #9aa8b1
}

.admin-landing-page {
    text-align: center;
    font-size: 200px;
    color: #e6e6e6;
}

.admin-header {
    font-size: 24px;
    line-height: 53px;
    color: #007CBA;
    height: 55px;
    padding: 10px;
    cursor: pointer;
}

.admin-subheader {
    font-size: 14px;
    line-height: 14px;
    margin-top: -10px;
}

.admin-header .fas {
    display: inline-block;
    font-size: 35px;
    padding: 10px;
    color: #f5f5f5;
    background-color: #0474ab;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 10px;
}

.admin-config-table {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.admin-config-row {
    background-color: #fff;
    height: 36px;
    border-bottom: 1px solid #dcdcdc;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
}

.admin-config-row:last-child {
    border: 0 none;
}

.admin-config-row .far {
    font-size:18px;
    padding:0 7px;
    color:#0474ab;
}

.admin-config-row-next:hover::after {
    content: "";
    position: absolute;
    border-right: 2px solid #0474ab;
    border-bottom: 2px solid #0474ab;
    width: 14px;
    height: 14px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 10px 15px 0px 0px;
    right: 0;
    top: 0;
    transition:0.4s;
}

/****************************************************************/

.admin-panel .user-stats {
    height: 250px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.admin-panel .user-status {
    display: inline-block;
    background-color: #e3e3e3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    margin: 11px 5px 0 0;
}

.admin-panel .table-col .fas.fa-check {
    color: var(--green-background);
    line-height: 35px;
}


/**************************************************************************/
/** Company Panel
/**************************************************************************/

.company-panel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    max-width: 1440px;

    border: 1px solid #ccc;
    border-top: 0 none;
    border-bottom: 0 none;
    background-color: #fff;
}

.company-panel h2 {
    margin: 20px 0 0 0;
    font-size: 22px;
    font-weight: 700;
    color: #595959;
}

.company-panel h3 {
    margin: 20px 0 0 0;
    font-size: 16px;
    font-weight: 700;
    color: #595959;
}

.company-panel p {
    margin: 0 0 10px 0;
    color: #777;
}

.company-panel .toolbar {
    height: 55px;
    border-bottom: 1px solid #ccc;
    background-color: #e9ebec;
}

.company-panel .toolbar > div { /*centers pulldowns and searchbar*/
    margin-top: 9px !important;
}

.company-panel .toolbar .toolbar-button{ /*centers buttons*/
    margin: 5px 5px 0 !important;
}

.company-panel .toolbar .button,
.company-panel .toolbar .pulldown,
.company-panel .toolbar .toolbar-button {
    float: left;
    position: relative;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;

    text-align: center;
    text-transform: none;

    font-weight: 700;
    font-size: 14px;


    padding: 0 12px;
    margin: 0 8px;

    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.09);
    color: #595959;

    width: unset;

    cursor: pointer;
}

.company-panel .toolbar .button:hover,
.company-panel .toolbar .pulldown:hover,
.company-panel .toolbar .toolbar-button:hover,
.company-panel .toolbar .toolbar-button-hover {
    border-color: #a7a6ab;
    box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.company-panel .toolbar .pulldown.active,
.company-panel .toolbar .pulldown.filter,
.company-panel .toolbar .toolbar-button.active,
.company-panel .toolbar .toolbar-button-hover,
.company-panel .toolbar .toolbar-button-selected {
    border-color: #006aff;
    background-color: aliceblue;
}


.company-panel .toolbar .toolbar-button.reset {
    background-color: #9E9E9E;
    border-color: #777;
    color: #fff;
    letter-spacing: 0px;
    font-weight: normal;
    margin: 9px 8px 0 !important;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.company-panel .toolbar .toolbar-button.reset:hover {
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);
}

/****************************************************************/

.toolbar.disabled .button,
.toolbar.disabled .pulldown,
.toolbar.disabled .toolbar-button.reset,
.toolbar.disabled .toolbar-button.reset:hover,
.toolbar.disabled .search-bar{
    opacity:0.5;
    box-shadow:none;
    cursor: default;
}

.toolbar.disabled .button,
.toolbar.disabled .pulldown,
.toolbar.disabled .pulldown.filter,
.toolbar.disabled .pulldown:hover {
    background-color:initial;
    box-shadow:none;
    border-color:#bebebe;
}

.toolbar.disabled .pulldown:before,
.toolbar.disabled .search-bar:before{
    content:'';
    z-index:5;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.toolbar.disabled .pulldown .menu{
    display:none;
}


/****************************************************************/

.company-panel .toolbar .toolbar-button .count {
    position:absolute;
    top: -6px;
    right: -6px;
    border-radius: 6px;
    background-color: #df4444;
    text-align: center;
    font-size: 9px;
    padding: 0 4px;
    color: #fff;
    height: 12px;
    line-height: 12px;
    font-weight: normal;
}


/****************************************************************/

.company-panel .toolbar .toolbar-button .fas.fa-star {
    color: #d2c3a4;
}
.company-panel .toolbar .toolbar-button-hover .fas.fa-star {
    color: #d9b56b;
}


/****************************************************************/

.company-panel .toolbar div.button-group {
    display: inline-block;
    position: relative;
}

.company-panel .toolbar .button-group > div:first-child  .toolbar-button {
    border-radius: 4px 0 0 4px !important;
    margin-right: 0 !important;
    border-right: 1px solid #e7e7e7;
}

.company-panel .toolbar .button-group > div:last-child .toolbar-button {
    border-radius: 0 4px 4px 0 !important;
    margin-left: 0 !important;
    border-left: 0 none;
}

.company-panel .toolbar .button-group .toolbar-button {
    margin: 0 5px 0 !important;
}

.company-panel .toolbar .button-group .toolbar-button-selected {
    background-color: #f7f7f7;
    border: 1px solid #ccc;

    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.16) inset, 1px 1px 6px 0px rgba(0, 0, 0, 0.08) inset;
    border-top: 1px solid #959595;
    border-left: 1px solid #959595 !important;
}


/****************************************************************/

.company-panel .toolbar  .like-button-container .toolbar-button {
    border-radius: 4px 0 0 4px;
    margin-right: 0 !important;
    border-right: 1px solid #e7e7e7;
}

.company-panel .toolbar  .dislike-button-container .toolbar-button {
    border-radius: 0 4px 4px 0;
    margin-left: 0 !important;
    border-left: 0 none;
}


/****************************************************************/

.company-panel .toolbar .pulldown:after {
    font-family: "Font Awesome 5 Free";
    content: "\f078"; /* fas fa-chevron-down */
    display: inline-block; /* important if you want to apply transition */
    padding: 0 7px 0 7px;
    /*transition: 0.5s;*/
}

.company-panel .toolbar .pulldown.active:after {
    transform: rotate(180deg); /* vs "fas fa-chevron-down" (content: "\f077";) */
    /*transition: 0s;*/
}


/****************************************************************/

.company-panel .toolbar .menu {
    position: absolute;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #a7a6ab;
    border-radius: 8px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
}

.company-panel .toolbar .menu .close-button{
    position: absolute;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    z-index: 1;
}


.company-panel .toolbar .menu .close-button:after{
    font-family: "Font Awesome 5 Free";
    content: "\f00d"; /* fas fa-times */
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
}

.company-panel .toolbar .menu .close-button:hover{
    color: #b11818; /*red */
}

/****************************************************************/

.company-panel .toolbar .menu .button {
    background-color: #006aff;
    line-height: 44px;
    height: 44px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    margin: 28px 0 0 0;
    padding: 0;
    width: 100%;
    border: 0 none;
}

.company-panel .toolbar .menu .button:hover{
    background-color: #0d4599
}

.company-panel .toolbar .menu .button-group div {
    width: 100%;
}

.company-panel .toolbar .menu .button-group .button {
    background-color: #f6f6fa;
    border: 1px solid #777;
    color: #777;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
}

.company-panel .toolbar .menu .button-group .button.button-selected {
    background-color: #f2faff;
    border: 1px solid #006aff;
}



.company-panel .toolbar .menu .button-group td:first-child .button {
    border-radius: 5px 0 0 5px !important;
}

.company-panel .toolbar .menu .button-group td:last-child .button {
    border-radius: 0 5px 5px 0 !important;
}





/****************************************************************/
.company-panel .toolbar .menu .form-input-button,
.company-panel .toolbar .menu .form-input.form-input-with-button {
    height: 44px;
    line-height: 44px;
    background-color: #f6f6fa;
    border-color: #d1d1d5;
}

.company-panel .toolbar .menu .form-input.form-input-with-button:focus{
    box-shadow: none;
}

.company-panel .toolbar .menu .form-input-button {
    box-shadow: none;
    border-left:  0 none;
    background-position: 5px 13px;
}

.company-panel .toolbar .menu .form-input-menu {
    text-align: left;
}

/****************************************************************/


.company-panel .toolbar .menu .tab-bar {
    background-color: #fff;
    font-weight: normal;
    border: 0 none;
    height: 36px;
}

.company-panel .toolbar .menu .tab-bar li {
    line-height: 36px;
    color: #000;
}

.company-panel .toolbar .menu .tab-inactive {
    background-color: #f0f0f0;
    border-width: 0 1px;
}

.company-panel .toolbar .menu .tab-active {
    background-color: #eff7fe;
    border-top: 2px solid #69b9ff;
    margin-top: -2px;
    border-left: 1px solid #b7d5ff;
    border-right: 1px solid #b7d5ff;
    border-radius: 4px 4px 0 0;

}

.company-panel .toolbar .menu .tab-body {
    border-radius: 0 0 8px; /* doesn't work... */
    font-weight: normal;
}


.company-panel .toolbar .menu .tab-bar li .count {
    position: absolute;
    top: -7px;
    left: -7px;
    border-radius: 50%;
    background-color: #ff5a52;
    line-height: 15px;
    min-width: 11px;
    text-align: center;
    font-size: 10px;
    padding: 0 3px;
    color: #fff;
}


/****************************************************************/

.company-panel .toolbar .search-bar {
    height: 38px;
    margin: 0 10px;
    padding: 0px;
}

.company-panel .toolbar .search-bar-input {
    height: 38px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.16) inset, 1px 1px 6px 0px rgba(0, 0, 0, 0.08) inset;
    border-top: 1px solid #959595;
    border-left: 1px solid #959595;
}

.company-panel .toolbar .search-bar-icon,
.company-panel .toolbar .search-bar-cancel{
    top: 8px
}

.company-panel .toolbar .search-bar-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    transition: box-shadow 1.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}






/****************************************************************/

.company-panel .company-list .table-col {
    height: 165px;
}

.company-panel .company-list .table-row{
    background-color: #fff;
}

.company-panel .company-list .table-row:hover{
    background-color:#f6fbff;
}

.company-panel .company-list .table-row-selected{
    background-color:#f0f8ff;
}

.company-panel .company-list .table-row-selected:hover{
    background-color:#e5f3ff;
}

.company-panel .company-list .table-col .company-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 38px;
    color: #1e1e1e;
    color: #595959;
}

.company-panel .company-list .table-col .company-info {
    line-height: 20px;
    color: #777;
}

.company-panel .company-list .company-logo {
    float: left;
    width: 32px;
    height: 32px;
    background-size: auto 32px;
    margin: 3px 10px 0 0;
}

.company-panel .company-list.footer {
    height: 22px;
    line-height: 22px;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    font-size: 12px;
    color: #777;
    padding: 0 7px;
    text-align: right;
}


/**************************************************************************/
/** Small table
/**************************************************************************/

.small .table-header-col {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}

.small .table-col {
    height: 21px;
    line-height: 21px;
    font-size: 12px;
}

.small .table-col .checkbox-box,
.small .table-header-col .checkbox-box {
    width: 12px;
    height: 12px;
    margin-top: 3px;
}


.small .table-col .checkbox-check {
    width: 3px;
    height: 8px;
    margin: 0px 0px 0px 4px;
}

.table-row.inactive .table-col {
    color: #ccc7b9;
}


/**************************************************************************/
/** Company Bookmarks
/**************************************************************************/

.company-bookmarks {
    padding: 20px;
    text-align: center;
}

.company-bookmarks .bookmark {
    width: 325px;
    margin: 20px;
    position: relative;
    display: inline-block;
    text-align: left;
    cursor: pointer;

}

.company-bookmarks .bookmark .menu-button {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    border: 0 none;
    z-index: 1;
}


.company-bookmarks .bookmark .menu-button:hover {
    background-color:#dcdcdc;
}


.company-bookmarks .bookmark .menu-icon {
    width: 3px;
    height: 3px;
    background-color: #a7a7a7;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
}

.company-bookmarks .bookmark .menu-icon:before,
.company-bookmarks .bookmark .menu-icon:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: inherit;
    border-radius: inherit;
}

.company-bookmarks .bookmark .menu-icon:before {
    top: -5px;
}

.company-bookmarks .bookmark .menu-icon:after {
    top: 5px;
}


.bookmark.menu {
    padding: 3px 2px;
    min-width: 107px;
}

.bookmark.menu-item {
    line-height: 28px;
    font-size: 13px;
    padding: 0 7px 0 0;
    white-space: nowrap;
}

.bookmark.menu-item:hover {
    background-color: #bee3ff;
}

.bookmark.menu-item .fas {
    color:#3876ad;
    text-align:center;
    width: 28px;
    font-size: 14px;
    vertical-align: middle;
    margin-top: -3px;
}





.company-bookmarks .bookmark .preview {
    background-color: #f6f6f6;
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: 35px;
    background-size: auto 150px;
    border: 1px solid #f6f6f6;
    transition: 0.2s;
}

/* Lazy clipping of the background image */
.company-bookmarks .bookmark .preview:after {
    content:'';
    position:absolute;
    width: 50px;
    height: 220px;
    background-color: #f6f6f6;
    right: -1px; /* -1 for the border in the preview */
    border-right: 1px solid #f6f6f6; /* add border to match preview */
}

.bookmark:hover .preview {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #dfdfdf;
}





.company-bookmarks .bookmark .title {
    font-weight: 700;
    font-size: 15px;
    margin: 15px 0 2px;
    color: #2e2e2e;
}

.company-bookmarks .bookmark .info {
    color: #8c8c8c;
    font-size: 13px;
}


.company-bookmarks .bookmark .users {
    float: right;
    margin-top: 15px;
}

.company-bookmarks .bookmark .user {
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 50%;
    margin-left: -7px;
    border: 2px solid #fff;
    background-repeat: no-repeat;
    background-size: 24px auto;
    background-color: #faebd7;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    line-height: 25px;
    color: #5a5a5a;
}

.company-bookmarks .bookmark .user.overflow {
    background-color: #eee;
}


/**************************************************************************/
/** Company Profile
/**************************************************************************/

.company-profile {
    padding: 20px;
}

.company-profile .table-header-col {
    border-top: 1px solid #ddd;
}

.company-profile .table-header-col:first-child {
    border-left: 1px solid #ccc;
}

.company-profile .table-col:first-child {
    border-left: 1px solid #ccc;
}

.company-profile .table-col:last-child {
    border-right: 1px solid #ccc;
}

.company-header {
    display: inline-block;
}

.company-header > div {
    display:inline-block;
    float:left
}

.company-logo {
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: auto 72px;
    margin: -10px 10px 0 0;
    border-radius: 8px;
}

.company-profile .company-name {
    font-size: 36px;
    font-weight: 700;
    color: #404040;
    padding: 0 20px 5px 0;
    line-height: 36px;
}

.company-profile .company-name:hover:after {
    content: "\f24d"; /* clone icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    color: #a7a7a7;
    padding-left: 4px;
    cursor: pointer;
    position: absolute;
}

.company-profile .company-description {
    padding: 7px 30px 17px 0px;
    font-size: 13px;
    color: #3c3c3c;
}

.company-overview  td {
    padding: 2px 8px;
    color:#777;
}

.company-overview  td:first-child {
    font-weight:normal;
    color:#000;
}

/* Set padding and other styles for the pen */
.company-overview td:last-child > div {
    display: inline-block;
    padding-right: 12px;
    min-width: 5px;
}

.company-overview td:last-child > div.editable:hover:after {
    content: "\f304"; /* pen */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding-left: 4px;
    cursor: pointer;
    position: absolute;
}

.company-overview .company-links i {
    padding: 0 6px 0 0;
    font-size: 17px;
    opacity: 0.8;
    cursor: pointer;
}

.company-overview .company-links i:hover{
    opacity: 1;
}

.company-overview .company-links i.inactive {
    color: #acafb6 !important;
    opacity: 0.4;
    cursor: default;
}

.company-overview .company-links i.inactive:hover {
    opacity: 0.4;
}


.company-overview .company-links i.fas.fa-globe {
    color:#6699cc;
}

/*
.company-overview .company-links i:hover:after {
    color:#777;
    font-family: 'Open Sans',helvetica,arial,verdana,sans-serif;
}

.company-overview .company-links i.inactive:hover:after {
    content: '';
}
*/

.company-overview .company-tags > div {
    display: inline-block;
    margin: 0px 5px 5px 15px;
    padding: 0 7px 0 7px;
    font-size: 11px;
    border-radius: 1px 5px 5px 1px;
    background-color: #6699cc;
    color: #fff;
    height: 16px;
    line-height: 16px;
    position: relative;
}

.company-overview .company-tags > div:before {
    content: "";
    position: absolute;
    top:0;
    left: -10px;
    width: 0px;
    height: 0px;
    border-color: transparent #6699cc transparent transparent;
    border-style: solid;
    border-width: 8px 10px 8px 0;
}

.company-overview .company-tags > div:after {
    content: "";
    position: absolute;
    top: 6px;
    left: -3px;
    float: left;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}


.company-profile .customer-logos {
    width: 100%;
    position: relative;
    display: inline-block;
}

.company-profile .customer-logos > div {
    background-repeat: no-repeat;
    background-size: 110px 110px;
    width: 110px;
    height: 110px;
    margin: 0 0 34px 34px;
    float: left;
}


.company-profile .profile-pic {
    position: relative;
    float: left;
    margin: 24px 14px;
    border: 1px solid #ccc;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.profile-pic:before {
    content: "\f007";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 140px;
    color: #f3f3f3;
    position: absolute;
    z-index: -1;
    left: 38px;
    top: 14px;
}


/**************************************************************************/
/** Award Details
/**************************************************************************/

.award-details .customer-logo {
    background-repeat: no-repeat;
    background-size: 135px 135px;
    width: 135px;
    height: 135px;
    margin: 7px 14px 0 0;
    float: right;
}


/**************************************************************************/
/** Popover panel
/**************************************************************************/
/** Used to slide a div over another div in the company panel
*/
.popover-panel {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 1440px; /* should match the max-width of the company-panel */
    z-index: 10;
    top: 0;
    background-color: #fff;
}

.company-panel > div {
    transition: opacity 0.8s, left 0.4s;
}

.notes .table-row:hover{
    background-color:#f6fbff;
}

.notes .table-row-selected{
    background-color:#f0f8ff;
}

.notes .table-col{
    height: 100px;
}

.notes .user-pic {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #fff;
    background-repeat: no-repeat;
    background-size: 24px auto;
    background-color: #faebd7;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    color: #5a5a5a;
    margin: 5px 7px 0 0;
}

.notes .note-header {
    margin: 10px 0 0;
}

.notes .user-name {
    font-weight: 700;
    line-height: 14px;
    margin: 0;
    padding: 0;
}

.notes .note-date {
    color: #777;
    line-height: 14px;
}

.notes .note-preview {
    margin: 0;
    padding: 0;
    line-height: 14px;
}

.notes .note-preview p {
    margin: 7px 0 0;
}

.notes .note-preview p:first-of-type {
    margin-top: 0;
}



.notes.user-info .user-pic {
    width: 32px;
    height:32px;
    line-height:30px;
    margin: 0 0 0 7px;
    font-size:14px;
}

.notes.user-info .user-name {
    font-size: 12px;
    line-height: 10px;
    font-weight: normal;
}

.notes.user-info .note-date {
    font-size: 10px;
}


/**************************************************************************/
/** Charts
/**************************************************************************/

.chart-title {
    padding: 0 0 15px;
}

.chart-title .emphasis {
    font-size: 24px;
}

.change {
    border-radius: 5px;
    border:1px solid;
    font-size:11px;
    padding:2px 5px;
}

.change.positive {
    border-color: #137333;
    background-color: #e6f4ea;
    color: #137333;
}


.change.negative {
    border-color: #bb2f2f;
    background-color: #fce8e6;
    color: #a50e0e;
}

.change.positive:before,
.change.negative:before {
    font-family: "Font Awesome 5 Free";
    vertical-align: middle;
    font-weight: 900;
    font-size: 12px;
    padding: 0 3px 0 0;
}


.change.negative:before {
    content: "\f063"; /*fas fa-arrow-down */
}

.change.positive:before {
    content: "\f062"; /*fas fa-arrow-up */
}


.chart-title .footer {
    color: #777;
}


.chart-area .axis {
    color:#a9a9a9
}

.chart-area .label {
    font-family: 'Segoe UI Variable Small', /* for windows */
    'Open Sans',helvetica,arial,verdana,sans-serif;
    font-size: 10px;
    color: #555;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.chart-area .grid {
    stroke-width: 0.2;
    color:#a9a9a9;
}


.treemap .label {
    font-size: 12px;
}

.treemap .group.label {
    font-size: 14px;
}

.treemap .value.label {
    font-size: 10px;
}




.chart-disclaimer {
    color: #777;
    font-size: 11px;
    font-style: italic;
    padding: 0 50px 0 0;
}

.chart-disclaimer:before {
    content: '*';
    margin-left: -8px;
    margin-right: 3px;
}

.chart-data-table  td {
    padding: 2px 8px;
    color:#777;
    font-size: 12px;
}


.chart-data-table  td:first-child {
    font-weight:normal;
    color:#000;
}

/**************************************************************************/
/** Revenue Chart
/**************************************************************************/

.revenue-chart td.chart-legend {
    padding: 10px 0 0;
}

.revenue-chart .chart-legend > div {
    display: inline-block;
    float: left;
    margin: 0 10px 10px 0;
    border: 1px solid #dcdcdc;
    padding: 2px 5px;
    border-radius: 5px;
}

.revenue-chart .chart-legend .label,
.revenue-chart .chart-legend .value {
    font-family: 'Segoe UI Variable Small', /* for windows */
    'Open Sans',helvetica,arial,verdana,sans-serif;
    font-size: 10px;
    color: #555;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.revenue-chart .chart-legend .line {
    width:  16px;
    display: inline-block;
    float: left;
    margin: 0 6px 6px 0;
}


/**************************************************************************/
/** Revenue Sliders
/**************************************************************************/

.revenue-sliders {
    margin: 20px 0 0;
}

.revenue-sliders .form-label{
    font-size: 11px;
    padding: 0 15px 0 0;
    line-height: 20px;
}

.revenue-sliders .form-input{
    margin-left: 20px;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    width: 50px;
}


.revenue-estimate {
    font-size: 20px;
    margin-bottom: 12px;
}

/**************************************************************************/
/** Customer Picker/Filter
/**************************************************************************/

.customer-filter {
    width: 600px;
    height: 400px;
    position: relative;
}

.customer-picker .toolbar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #dcdcdc;
    height: 36px;
}


/**************************************************************************/
/** NAICS Picker
/**************************************************************************/

.naics-picker .body {
    border: 1px solid #dcdcdc;
    height: 100%;
    position: relative;
    overflow: hidden auto;
}

.naics-picker .header {
    text-align: center;
    height: 30px;
}


.naics-picker .item {
    cursor: pointer;
    padding: 0 0 0 7px;
    text-align: left;
    white-space: nowrap;
    font-size: 12px;
    color: #4a4a4a;
    height: 20px;
    line-height: 20px;
}

.naics-picker .item:hover {
    background-color: aliceblue;
}

.naics-picker .item.selected {
    background-color: #d5ebff;
}



/**************************************************************************/
/** NAICS Filter
/**************************************************************************/

.naics-filter {
    width: 800px;
    height: 400px;
    position: relative;
}

.naics-filter .form-input {
    border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-right: 0 none;

    font-size: 12px;
    color: #4a4a4a;
}


.naics-filter .form-input:disabled {
    background-color:#f8f8f8;
}

.naics-filter .form-button {
    border: 1px solid  var(--green-background);
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    box-shadow: none;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;

    background-color: var(--green-background);
    color: #fff;
    text-shadow: none;
    font-size: 18px;
}


.naics-filter .form-button:hover, .naics-filter .form-button:focus {
    background-color: var(--green-background-hover);
    box-shadow: none;
}


.naics-filter .form-button:disabled {
    background-color: #8fa98f;
    border: 1px solid #8fa98f;
}




.naics-filter .message-box {
    position: absolute;
    display: inline-block;
    background-color: #e6ffc6;
    color: green;
    font-weight: normal;
    padding: 0 25px;
    top: -6px;
    left: 290px;
    border-radius: 6px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #96d496;
    z-index: 1;

    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, transform 0.8s;
    transition: opacity 0.8s, transform 0.8s, -webkit-transform 0.8s;
}


.naics-filter .message-box.initial {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
}

.naics-filter .message-box.hidden {
    opacity: 0;
    /*
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    */
}

.naics-filter .message-box.visible {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.naics-filter .message-box:before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 700;
    padding-right: 10px
}


.naics-filter .button {
    float: right;
    width: 190px !important;
    margin-top: 10px !important;
    margin: 10px 12px 10px 0;
}


/**************************************************************************/
/** Tag Filter
/**************************************************************************/

.menu .tag-filter {
    width: 100%;
    height: 160px;
    position: relative;
    text-align: left;
    margin-top: 24px;
}

.tag-filter .form-input-button,
.company-panel .toolbar .menu .tag-filter .form-input-button{
    background-color: var(--green-background-hover);
    border-color: var(--green-background-hover);
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    color:#fff;
}

.company-panel .toolbar .menu .tag-filter .form-input-button{
    width:44px;
}

.tag-filter .form-input-button:before{
    font-family: "Font Awesome 5 Free";
    content: "\f067";
    font-weight: 700;
    text-shadow: none;
}


/**************************************************************************/
/** More Filter
/**************************************************************************/

.more-filter {
    width: 100%;
    height: 145px;
    position: relative;
    text-align: left;
}

.more-filter h3 {
    line-height: 1.5;
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0 0 0;
    color: #2a2a33;
}

.more-filter .checkbox-label,
.more-filter .form-label {
    font-weight: normal;
    height: 16px;
    line-height: 16px;
}


/**************************************************************************/
/** Chiclet
/**************************************************************************/

.chiclet {
    display: inline-block;
    float: left;
    position: relative;
    padding: 0 30px 0 10px;
    white-space: nowrap;
    font-size: 12px;
    color: #4a4a4a;
    margin: 10px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 25px;
    line-height: 25px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.chiclet:hover{
    background-color: #eff7fe;
    border: 1px solid #b7d5ff;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
}

.chiclet > div {
    max-width: 350px;
    overflow: hidden;
}

.chiclet .close {
    top: 1px;
    right: 6px;
    position: absolute;
    font-size: 16px;
    color: #777;
    width: 18px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}

.chiclet .close:after {
    font-family: "Font Awesome 5 Free";
    content: "\f00d"; /* fas fa-times */
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
}



.chiclet:hover > div.close,
.chiclet .close:hover {
    color: #b11818; /*red */
}



/**************************************************************************/
/** Thumbnail editor
/**************************************************************************/

.thumbnail-upload-area {
    border: 2px dashed #7e93a0;
    background-color: #f2f5f7;
    transition: 0.2s;
}

.thumbnail-upload-area::before {
    font-family: "Font Awesome 5 Free";
    content: "\f382"; /*cloud-upload-alt*/
    display: block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 42px;
    color: #9fb1bd;
}

.thumbnail-upload-area::after {
    content: "Drag and drop image here";
    font-size: 16px;
    color: #8e9da7;
    font-weight: bold;
}

.thumbnail-upload-area::before,
.thumbnail-upload-area::after {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}




/**************************************************************************/
/** Chart Legend
/**************************************************************************/
/** Legends for bluewave-charts */

.company-profile .chart-legend {
    position: relative;
    top: 15px;
    z-index: 2;
    background-color: #fff;
    padding: 5px 7px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    text-align: left;
    overflow: hidden;
    max-height: 250px;
    overflow-y: auto;
    box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 17%);
}

.company-profile .chart-legend > div {
   position: relative;
   overflow: hidden;
   display: flex;
}

.company-profile .chart-legend .dot {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #dcdcdc;
    vertical-align:middle;
    border-radius: 50%;
    margin: 3px 5px 0 0;
    float:left;
    display: inline-block;
    border: 1px solid #dcdcdc;
}

.company-profile .chart-legend span {
   font-size: 12px;
}




/**************************************************************************/
/** Tooltip
/**************************************************************************/
/** This class is used by bluewave-charts
*/
.tooltip {
    position: absolute;
    background-color: #fff;
    padding: 5px 7px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    color: #636363;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
}




/**************************************************************************/
/** Toolbar Icons
/**************************************************************************/

.toolbar-button-icon.fas,
.toolbar-button-icon.far {
    color: #5a606d;
    font-size: 16px;
}

.toolbar-button-icon.fas.fa-check-square {
    color: green;
}

/*
.toolbar-button-icon.fas.fa-trash {
    color: #8c6c6c;
}
*/

.toolbar-button-icon.fas.fa-copy {
    color: #b59d71;
}

.toolbar-button-icon.fas.fa-plus-circle {
    color: #008000; /*green*/
}

.toolbar-button-icon.fas.fa-edit {
    color: #864a00; /*brown*/
}

.toolbar-button-icon.fas.fa-sync-alt {
    color: #007cba; /*blue*/
}

.toolbar-button-icon.fas.fa-play {
    color: #008000; /*green*/
}

.toolbar-button-icon.fas.fa-stop {
    color: #000000;
}

.toolbar-button-icon.fas.fa-times {
    color: #b11818; /*red - same color as search-bar-cancel*/
    margin-top: 3px;
}


/**************************************************************************/
/** iScroll overrides
/**************************************************************************/

.iScrollVerticalScrollbar{
    right: 2px;
}



/**************************************************************************/
/** JavaXT Overrides
/**************************************************************************/

.window-header {
    border: 1px solid #81919b;
    border-bottom: 1px none;
    background-color: var(--header-color);
    background-image: linear-gradient(to bottom, var(--header-color), var(--nav-color));
}

.window-header-button:hover {
    background-color: #94aab7;
}


/* since we set a background-image in window-header we need to update the alert
   header too
*/
.alert-header {
    background-image: linear-gradient(to bottom, #e7cb68, #9f8a40);
    border-color: #c9af53;
}
.alert-header .window-header-button:hover {
    background-color: #b59b40;
}


/* override the default style for the javaxt callout
   prevents overflow issues in the app header
*/
.callout-arrow {
    padding: 10px;
}



/** Override the styles for tabs and forms that appear in a popup window
*/
.window-body table:first-child .tab-active,
.window-body table:first-child .tab-inactive {
    line-height: 34px;
}

.window-body table:first-child .tab-bar {
    background-color: #6e8695;
    border: 1px solid #85959f;
    border-width: 0 1px;
}

.window-body table:first-child .tab-active {
    background-color: #629ab9;
}

.window-body table:first-child .tab-inactive:hover {
    background-color: #5fabd5;
}

.window-body table:first-child .tab-inactive {
    border: 1px solid;
    border-width: 0 1px 0 0;
    border-color: #809eb1;
}



/** Used in conjunction with table-header-col and table-col to make
 *  grids/tables a little more compact
 */
.compact-table {
    height: 24px;
    line-height: 24px;
    border-left: none;
    font-size: 11px;
}


/** DBView */
li.tree-node:hover {
    background: #5a606d !important;
    cursor: pointer;
}



/**************************************************************************/
/** Quill Overrides
/**************************************************************************/

.ql-container {
    font-family: 'Open Sans', helvetica, arial, verdana, sans-serif;
    font-size: 14px;
}

.ql-toolbar.ql-snow {
    border: 0 none;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 4px;
    height: 42px;
}

.ql-toolbar.ql-snow button {
    margin-right: 3px;
    border-radius: 3px;
}

.ql-toolbar.ql-snow button:hover {
    background: #f0f8ff !important;
    border: 1px solid #0069fd !important;
}

button.ql-active {
    background: #f0f8ff !important;
    border: 1px solid #0069fd !important;
}

.ql-active path {
    /*stroke: #3f4551 !important;*/
}



/**************************************************************************/

.ql-toolbar.ql-snow button.ql-save {
    font-size: 13px;
    width: 71px !important;
    font-family: inherit;
    background-color: #f0fce8;
    border: 1px solid #aacdaa;
    float: right;
}

.ql-toolbar.ql-snow button.ql-save:after {
    content: 'Save';
    font-size: 13px;
    color: #444;
}


.ql-toolbar.ql-snow .toolbar-button {
    float: left;
    position: relative;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    text-transform: none;
    padding: 0 12px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.09);
    color: #595959;
    cursor: pointer;
}

.ql-toolbar.ql-snow .toolbar-button:hover,
.ql-toolbar.ql-snow .toolbar-button-hover {
    border-color: #a7a6ab;
    box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}